@use '../../shared/styles/settings/colors' as colors;
@use '../../shared/styles/settings/borders' as radius;

.page {

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-top: 1rem;
  }

  &__footer {
    position: absolute;
  }

  &__footer,
  &__content {
    max-width: 22.5rem;
    width: 100%;
  }
}
