.error-state {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  text-align: center;
  padding: clamp(1rem, 4vw, 3rem);
  flex-direction: column;
  gap: clamp(12px, 3vw, 40px);
}

.error {
  h3 {
    color: #dc3545;
    font-size: clamp(1rem, 3vw, 2rem);
    margin: 0;
    font-weight: 500;

    @media (min-width: 1920px) {
      font-size: clamp(1.5rem, 3vw, 2.5rem);
    }
  }

  &__actions {
    display: flex;
    gap: clamp(8px, 2vw, 24px);
    justify-content: center;
    flex-wrap: wrap;

    @media (min-width: 1920px) {
      gap: clamp(16px, 3vw, 32px);
    }
  }
}
